# Binance API Credentials (Opcional - Necessário apenas para enviar ordens ou ver saldo da conta)
# Para ler cotações de mercado, candles históricos e trades, NÃO É NECESSÁRIO API KEY.
BINANCE_API_KEY=sua_api_key_aqui
BINANCE_API_SECRET=seu_api_secret_aqui
